/*------Позиционирование header----*/

.header-block {
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section .logo {
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.nav-section-list {
  display: flex;
}

.nav-section-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-section-list__link {
  display: block;
  padding: 32px 0;
  position: relative;
}
.nav-section-list__link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  background-color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*------Позиционирование Студии----*/

/*------Позиционирование Hero----*/

.hero-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------Позиционирование Feature----*/

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.feature-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.feature-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-list__icon {
  width: 70px;
  height: 70px;
}

/*------Позиционирование Occupation----*/

.occupation-section {
  padding-top: 0;
}

.occupation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.occupation-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.occupation-list__item-bottom {
  position: absolute;
  background-color: var(--bg-occupation-color);
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.occupation-list__item-text {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
}

/*------Позиционирование Наша команда----*/

.team-container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__img {
  margin-bottom: 30px;
}
.team-list__text {
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list__link:hover,
.team-social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.team-social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*--Позиционирование Постоянных клиентов--*/

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  width: 106px;
  height: 92px;
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/*------Позиционирование Портфолио----*/

/*------Позиционирование фильтров----*/

/*------Позиционирование проектов----*/
/*------Позиционирование footer----*/

.footer-block .logo {
  display: block;
  margin-bottom: 20px;
}

.address-section__list {
  display: flex;
  flex-direction: column;
}

.address-section__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-item:last-child {
  margin-left: auto;
}
.footer-social-list {
  display: flex;
}

.footer-social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-footer-icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover,
.footer-social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-icon {
  fill: var(--white-color);
}

.footer-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: row;
}

.footer-subscribe-form__input {
  font-size: 16px;
  line-height: 1.3;
  width: 358px;
  height: 50px;
  text-align: left;
  padding-left: 16px;
  border: 1px solid var(--footer-border-color);
  border-radius: 4px;
  margin-right: 12px;
  color: var(--footer-white-color);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form__input:hover,
.footer-subscribe-form__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.footer-subscribe-form__botton {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: flex;
  padding-left: 29px;
  justify-content: left;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-form__botton:hover,
.footer-subscribe-form__botton:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.footer-subscribe-form__botton-text {
  margin-right: 10px;
}
/*----------Позиционирование модального окна---------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-modal-overlay-color);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px 39px 40px 41px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 50%;
  border-width: 1px;
  border-color: var(--close-border-color);
  outline: none;
}
.close-button:hover,
.close-button:focus {
  cursor: pointer;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}
.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--nav-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 12px;
}
.modal-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.modal-input-box {
  position: relative;
  margin-bottom: 10px;
}
.modal-input-icon {
  position: absolute;
  top: 35%;
  left: 12px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  padding: 12px 10px 12px 42px;
  min-height: 40px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
  cursor: pointer;
}
.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.modal-checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
  line-height: 1.7;
}

.checkbox-lable {
  display: flex;
  align-items: center;
}

.checkbox-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-dark-gray-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-item:checked + .checkbox-lable .checkbox-square {
  background-color: var(--accent-color);
  border: none;
}

.modal-checkbox-item:hover + .checkbox-lable .checkbox-square,
.modal-checkbox-item:focus + .checkbox-lable .checkbox-square {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-send-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-send-button:hover,
.modal-send-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

:root {
  --accent-color: #2196f3;
  --project-accent-color: #2196f3e6;
  --nav-text-color: #000000;
  --title-dark-gray-color: #212121;
  --text-gray-color: #757575;
  --white-color: #ffffff;
  --footer-white-color: #ffffff9a;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-occupation-color: #2f303acc;
  --project-border-color: #eeeeee;
  --header-border-color: #ececec;
  --fill-icon-color: #afb1b8;
  --bg-footer-icon-color: #ffffff19;
  --bg-modal-overlay-color: #00000033;
  --close-border-color: #0000001a;
  --footer-border-color: #ffffff4d;
  --button-shadow-color: #ffffff26;
  --modal-border-color: #21212133;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*---------header----------*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-logo {
  color: var(--nav-text-color);
}

.nav-section-list__link,
.header-list__link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-section-list__link:hover,
.nav-section-list__link:focus,
.header-list__link:hover,
.header-list__link:focus,
.address-section__link:hover,
.address-section__link:focus,
.current {
  color: var(--accent-color);
}

.header-list__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--text-gray-color);
}

/*-----------footer--------*/
.footer-block {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-section__link {
  font-style: normal;
  line-height: 1.7;
  color: var(--footer-white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo,
.address-section__text {
  color: var(--white-color);
}
/*-------------main-Студия------------*/
.hero-section {
  background: var(--bg-dark-color);
  background-image: linear-gradient(rgba(20, 23, 59, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero-section__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:hover,
.hero-section__button:focus {
  cursor: pointer;
  background-color: #188ce8;
}
/*-----------особенности--------------*/

.feature-list__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__text {
  line-height: 1.7;
  color: var(--text-gray-color);
}

/*-----------чем мы занимаемся----------*/

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

/*--------------Наша команда-------------*/

.team-section {
  background-color: var(--bg-light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list__item {
  background-color: var(--white-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-gray-color);
  text-align: center;
}

/*--------Постоянные клиенты------*/
.clients-section {
  background-color: var(--white-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

/*------------Портфолио----------*/

/*----------Фильтры-------------*/

/*--------------Проекты----------*/
