*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*------Позиционирование header----*/

.header-block {
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section .logo {
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.nav-section-list {
  display: flex;
}

.nav-section-item:not(:last-child) {
  margin-right: 50px;
}

.nav-section-link {
  display: block;
  padding: 32px 0;
  position: relative;
}
.nav-section-link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  background-color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*------Позиционирование Студии----*/

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.feature-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.feature-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature-icon {
  width: 70px;
  height: 70px;
}

.occupation-section {
  padding-top: 0;
}

.occupation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.occupation-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.occupation-item-bottom {
  position: absolute;
  background-color: var(--bg-occupation-color);
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.occupation-item-text {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-img {
  margin-bottom: 30px;
}
.team-text {
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*--Позиционирование Постоянных клиентов--*/

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 92px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/*------Позиционирование Портфолио----*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  background-color: var(--white-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.project-link-top {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--project-accent-color);
  bottom: -100%;
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(-100%);
}

.project-overlay-text {
  width: 322px;
  height: auto;
  font-size: 18px;
  line-height: 1.6;
  color: var(--white-color);
}
.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--project-border-color);
  border-top: none;
}

.project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*------Позиционирование footer----*/

.footer-block .logo {
  display: block;
  margin-bottom: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--bg-footer-icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-icon {
  fill: var(--white-color);
}

.footer-item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);
}
.footer-subscribe-form {
  display: flex;
  flex-direction: row;
}
.footer-input {
  font-size: 16px;
  line-height: 1.3;
  width: 358px;
  height: 50px;
  text-align: left;
  padding-left: 16px;
  border: 1px solid var(--footer-border-color);
  border-radius: 4px;
  margin-right: 12px;
  color: var(--footer-white-color);
  background-color: transparent;
}
.footer-botton {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: flex;
  padding-left: 29px;
  justify-content: left;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--footer-botton-shadow);
}

.footer-botton-text {
  margin-right: 10px;
}
/*----------Позиционирование модального окна---------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-modal-overlay-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 50%;
  border-width: 1px;
  border-color: var(--close-border-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--nav-text-color);
}
.modal-form {
  padding: 40px 39px 40px 41px;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 12px;
}
.modal-lable {
  display: block;
  margin-bottom: 4px;
}
.modal-input-box {
  position: relative;
  margin-bottom: 10px;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-input {
  width: 100%;
  padding: 12px 10px 12px 42px;
  min-height: 40px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  line-height: 1.2;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  margin-bottom: 20px;
}
.modal-checkbox {
  margin-bottom: 30px;
}

.modal-send-botton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

/*.test {
  background-color: grey;
}*/

:root {
  --accent-color: #2196f3;
  --project-accent-color: #2196f3e6;
  --nav-text-color: #000000;
  --title-dark-gray-color: #212121;
  --text-gray-color: #757575;
  --white-color: #ffffff;
  --footer-white-color: #ffffff9a;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-occupation-color: #2f303acc;
  --project-border-color: #eeeeee;
  --header-border-color: #ececec;
  --fill-icon-color: #afb1b8;
  --bg-footer-icon-color: #ffffff19;
  --bg-modal-overlay-color: #00000033;
  --close-border-color: #0000001a;
  --footer-border-color: #ffffff4d;
  --footer-botton-shadow: #ffffff26;
  --modal-border-color: #21212133;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-gray-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*---------header----------*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-logo {
  color: var(--nav-text-color);
}

.nav-section-link,
.header-link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-section-link:hover,
.nav-section-link:focus,
.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus,
.current {
  color: var(--accent-color);
}

.header-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--text-gray-color);
}

/*-----------footer--------*/
.footer-block {
  background-color: var(--bg-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--footer-white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo,
.address-text {
  color: var(--white-color);
}
/*-------------main-Студия------------*/
.hero-section {
  background: var(--bg-dark-color);
  background-image: linear-gradient(rgba(20, 23, 59, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

/*-----------особенности--------------*/

.feature-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  line-height: 1.7;
  color: var(--text-gray-color);
}

/*-----------чем мы занимаемся----------*/

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

/*--------------Наша команда-------------*/

.team-section {
  background-color: var(--bg-light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  background-color: var(--white-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-gray-color);
  text-align: center;
}

/*--------Постоянные клиенты------*/
.clients-section {
  background-color: var(--white-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
  margin-bottom: 50px;
}

/*------------Портфолио----------*/

/*----------Фильтры-------------*/

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-dark-gray-color);
  background-color: var(--bg-light-color);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.current-filter {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------Проекты----------*/

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-dark-gray-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-gray-color);
}
